.vscode/
build/
install/
log/
src/**
external/**

# LoRaWAN gateway packet forwareder
sx1302_hal/**

#configs
zenoh_router.json5
zenoh_client.json5
config.json
.env
config.yaml
config_combined.yaml
serviceAccount.json
config_email.yaml
